.nav  {
  background : white;
  margin: 3%;
  list-style-type: none;
  display: inline-block;
  vertical-align: top;
  position: absolute;
  margin-top: 5%;
  color: #5a5a5a;
  font-size : 120%;
  font-weight: bold;
  padding-bottom : 10%;
  padding-left : 5%;
  padding-right : 0%;
  width: 15%;


}



.jumbotron h1  {
  float: left;
  display: inline-block;
  vertical-align: top;
  width: 20%;
  height: 5%;
  margin-top: 2%;
  margin-left: 30%;
  font-size : 175%;
  color: #5a5a5a;
  font-weight: bold;
  font-family: 'Shift', sans-serif;
}

.jumbotron  p {
  display: inline-block;
  vertical-align: top;
  margin-left: 30%;
  width: 50%;
  height: 10%;
  font-size: 105%;
}


img {
  float: right;
    vertical-align: top;

  margin-left: 0%;
  margin-right: 0%;
  margin-top: 0%;
  width: 24%;
  height: 24%;
}

.image_caption p {
  float: right;
    vertical-align: top;

  margin-left: 0%;
  width: 40%;
  height: 20%;
  font-size: 85%;

}



.copyright {
  clear: left;
  border-bottom: dotted;
  border-width: 1px;
  margin-top: 20%;
  margin-left: 60%;
  margin-right: 0%;
  font-size: 55%;
  height: 5%;
}
